<%= link_to "Add new task", new_list_task_path %>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>

    <tr><% @incomplete_tasks.each do |task| %>
      <td><%= task.title %></td>
      <td><%= task.description %></td>
      <td><%= task.due_date %></td>
      <td><%= link_to "Edit", edit_list_task_path(id: task.id) %></td></tr>
    <% end %>



  </tbody>
</table>
</div>

</body>
</html>
